<!-- User's home page --> 
<% binding.pry %> 
You are logged in as <b> <%= @user.email %> </b> <br> <br> 

<!--
<a class="button" href="/books/new"> Checkout a book </a> <br> <br> <br> <br> 

<a class="button" href="/logout"> Log Out </a> user_home
--> 