<!-- User's home page --> 

You are logged in as <b> <%= @user.email %> </b> <br> <br> 

<a class="button" href="/books/new"> Review a Book </a> <br> <br> <br> <br> 

<a class="button" href="/logout"> Log Out </a>