<!-- User's home page --> 

You are logged in as <b> <%= @user.email %> </b> <br> <br> 

<a class="button" href="/reviews/new"> Review a book </a> <br> <br> 

<a class="button" href="/reviews"> See your reviews </a> <br> <br> 

<br> <br> <br> <br> 
<a class="button" href="/logout"> Log Out </a>