<!DOCTYPE html>
<html>
<body>

<p style = "font-family: didot; font-size:25px">
Book Reviewer
</p>

<p style = "font-family: didot">
<a class="button" href="/signup">Sign Up</a>  //  
<a class="button" href="/login">Log In</a> // 
<a class="button" href="/logout">Log Out</a> 

<center>
<img src="https://assets.bigcartel.com/product_images/241925258/8_wands_WallArt_Micah_Ulrich_Poster_art_illustration_tattoo_design.png?auto=format&fit=max&w=2000" alt="hello" height=625 width=465>
<br> <br> 
Art by <a href="https://shop.micahulrich.com/"> Micah Ulrich </a>
</p>
</center>
</body>
</html>