<% @reviews.each do |review| %> 
     Title: <%= review.book.title %> <br> 
     Author: <%= review.book.author %> <br> 
     Review: <%= review.text %> <br> <br> 
<% end %> 

<!-- back to user's home page --> 
<a class="button" href="/users/user_home">Home</a>