<% @reviews.each do |review| %> 
     <i>Book Title:</i> <%= review.book.title %> <br> 
     <i>Book Author:</i> <%= review.book.author %> <br> 
     <i>Your Book Review:</i> <%= review.text %> <br>
     <a class="button" href="/reviews/<%=review.id%>/edit">Edit</a> <br> <br> <br> <br> 
<% end %> 

<!-- back to user's home page --> 
<a class="button" href="/users/user_home">Home</a>